page-pizza {

    .verde{
        font-size: 22px;
        color: #08df08
    }
    
    .vermelho{
        font-size: 22px;
        color: #f00808
    }

    .azul{
        font-size: 22px;
        color: #080cf0
    }


    .tamanho{
        font-size: 14px;
    }


}
