<ion-header>
  <ion-navbar color="laranja">
    <ion-title style="text-align:left;"> <span class="cor"> {{ total | currency: 'BRL' }} </span> </ion-title>

    <ion-buttons end>
      <button ion-button icon only (click)="openCadastro()">
          
        <ion-icon color="#019386" name="add"></ion-icon>

      </button>

    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon only (click)="openGrafico()">
          
        <ion-icon color="#019386" class="fa-pie-chart"></ion-icon>

      </button>

    </ion-buttons>


  </ion-navbar>
</ion-header>
  
<ion-content >

  <div *ngIf="caixas.length > '0'; else vazio">

  <ion-list>
    <ion-item *ngFor="let item of caixas">
      <ion-icon class="icons" name="square" item-start [color]="item.status == '1' ? 'secondary' : 'danger'"></ion-icon>
      <ion-label class="tamanho" [color]="item.dia_pagamento == '0' ? 'danger' : 'dark'" > {{item.descricao}} <p>{{item.valor | currency : 'BRL'}}</p> </ion-label>
      
      <ion-badge item-end [color]="item.dia_pagamento <= '3' ? 'danger' : 'laranja'">
        
        <span style="font-size: 10px;" *ngIf="item.dia_pagamento >= '1'" > {{item.dia_pagamento}} Dias  </span>

        <span style="font-size: 10px;" *ngIf="item.dia_pagamento == '0'" > Dia do Pagemento  </span>
      
      </ion-badge>

      <ion-toggle disabled="false" color="marinho" [(ngModel)]="item.pago" (click)="editar(item.id,item.pago )"></ion-toggle>
    </ion-item>
  </ion-list>

  </div>

  <ng-template #vazio>

    <ion-list>
      <ion-card>
        <ion-item>
          <h3> Nenhuma Movimentação no momento .... </h3>
        </ion-item>
      </ion-card>
     
    </ion-list>

  </ng-template>

</ion-content>
